.loader {
  width: 30%;
  height: 6px;
  border-radius: 6px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.progress {
  width: 60%;
  height: 100%;
  border-radius: 6px;
  background-color: #0071e2;
  position: absolute;
  left: 0;
  top: 0;
  animation: loading-animation 1.5s linear infinite;
}

@keyframes loading-animation {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
